/*Grid settings -----------------------------------------------------------------------------------*/

/*
Vi bestemte oss for å separere ut grid- og hoveddelen av main.css for enklere navigasjon og arbeidsflyt,
iht eksamensoppgavetekstens deklarasjon av at to stylesheets er tillatt ved behov og med hensikt.
*/

/* FOR SKJERMBREDDE 800PX OG UNDER, FLEX VIEW  ------------------------------------------------------------*/

/* Ved skjermbredde <800 bytter hovedboksene til flex view og plasserer alt innhold i en kolonne for bedre lesbarhet
ved smal skjerm og/eller høy zoom*/
@media screen and (max-width : 800px) {
    .main-center-box .main-center-box-topical .top-box .main-left-text-box .main-left-img-box .main-right-text-box .main-right-img-box {
        display     : flex;
        align-items : flex-end;
        width       : 100%;
        }

    /*HEADER/FOOTER BOKSER - Duplikat av formatering for >800px skjermbredde, noe som medfører litt bloat,
    men da er det enkelt tilgjengelig for differensiert formatering dersom nødvendig*/
    .header-grid {
        display               : grid;
        grid-template-columns : 50% 50% 0;
        grid-template-rows    : auto;
        }

    .header-left {
        grid-column : 1 / 2;
        }

    .header-right {
        grid-column : 2 / 3;
        text-align  : right;
        }

    .footer-grid {
        display               : grid;
        grid-template-columns : 20% minmax(30%, auto) minmax(30%, auto) 20% 0;
        grid-template-rows    : auto;
        }

    .footer-main-box {
        grid-column : 2 / 4;
        }
    }

/* FOR SKJERMBREDDE 801PX OG OVER ------------------------------------------------------------------------ */

/*Her er hovedboksene i grid for å legge til rette for "side om side" -plassering av
innholdet. Denne griden er generell og tilpasset både midtstilt innhold og sideinnhold. Plassering
i rader er avgjort av rekkefølgen i HTML, og boksene er derfor ikke tildelt rader, bare kolonner.
Dette er for å unngå overdrevne mengder med forskjellige typer bokser, slik at man har noen få
generelle bokser som kan brukes til alt innholdet.*/

@media screen and (min-width : 801px) {
    .wrapper {
        display               : grid;
        grid-template-columns : 20% 30% 30% 20% 0;
        grid-template-rows    : auto;
        }

    /*ØVERSTE BOKS, PSEUDO-HEADER_________________________________________________________________________*/
    .top-box {
        grid-column : 1 / 5;
        }

    /*BOKSER BRUKT TIL PAGE CONTENT-----------------------------------------------------------------------*/
    .main-center-box {
        grid-column : 2 / 4;
        }

    .main-center-img-box {
        grid-column : 2 / 4;
        line-height : 0;
        }

    .main-left-text-box {
        grid-column : 1 / 3;
        }

    .main-right-text-box {
        grid-column : 3 / 5;
        }

    .main-left-img-box {
        grid-column : 1 / 3;
        }

    .main-right-img-box {
        grid-column : 3 / 5;
        }

    /*HEADER/FOOTER BOKSER - Duplikat av formatering for <800px skjermbredde, noe som medfører litt bloat,
    men da er det enkelt tilgjengelig for differensiert formatering dersom nødvendig*/
    .header-grid {
        display               : grid;
        grid-template-columns : 50% 50% 0;
        grid-template-rows    : auto;
        }

    .header-left {
        grid-column : 1 / 2;
        }

    .header-right {
        grid-column : 2 / 3;
        text-align  : right;
        }

    .footer-grid {
        display               : grid;
        grid-template-columns : 20% minmax(30%, auto) minmax(30%, auto) 20% 0;
        grid-template-rows    : auto;
        }

    .footer-main-box {
        grid-column : 2 / 4;
        }
    }